.idea/*
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
log

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
enwiki-20171020-pages-articles.xml.bz2
enwiki-20171020-pages-articles1.xml-p10p30302.bz2
enwiki-20171020-pages-meta-current2.xml-p30304p88444.bz2
enwiki-20171020-pages-meta-current3.xml-p88445p200507.bz2
enwiki-20171020-pages-meta-current4.xml-p200511p352689.bz2
search_backend/keywords/
search_backend/summaries/
MSLR-WEB10K.zip
.DS_Store
GoogleNews-vectors-negative300.bin
GoogleNews-vectors-negative300.bin.zip
data/*
search_backend/AdaBoost
search_backend/BaggingClassifier
search_backend/DecisionTree
search_backend/GradientBoostingClassifier
search_backend/MLPClassifier
search_backend/RandomForest
search_backend/classifier_small
search_backend/data.txt
search_backend/data2.txt
search_backend/data3.txt
search_backend/mycache/
